# Vim
*~
*.sw[p_]

# Sublime Text
*.sublime-project
*.sublime-workspace

# Node.js and NPM
node_modules
npm-debug.log*
package-lock.json
codekit-config.json

# macOS
.DS_Store

# 빌드 환경
.venv/
__pycache__/
*.py[cod]
